In [5]:
import pandas as pd
import datetime

index = []
task = []
status = []
createdAt = []
completedAt = []

for i in range(1, len(task)+1):
    print(str(i))

a = {"No": index, "Task": task, "Status": status, "Created At": createdAt, "Completed At": completedAt}

df = pd.DataFrame(a)
dataframe = df.style.hide(axis="index")

def addTask():
    addTaskInput = input("Enter the task you wish to add to your todo list: ")
    task.append(addTaskInput)
    createdAt.append(str(datetime.datetime.now()))
    status.append("Pending")
    return "Task added successfully!\n", dataframe

def editTask():
    edit = input("Enter the No. of the task you wish to edit: ")
    newTask = input("Enter new task: ")
    df.loc[(df.No == edit), ['Task']] = newTask 
    return

def deleteTask():
    delete = input("Enter the task No. you wish to mark as done: ")
    df.drop([[delete]], axis=0)
    return

def markAsDone():
    done = input("Enter the task No. you wish to mark as done: ")
    df.loc[(df.No == done), ['Status']] = "Done"
    return

def menu():
    while True:
        print("MENU\n1. Add new task \n2. View tasks \n3. Edit/Delete task \n4. Mark a task done \n5. Exit \n")
        choice = int(input("Select the operation you wish to perform (1 or 2 or 3 or 4 or 5): "))

        match choice:
            case 1:
                #addTask()
                addTask()

            case 2:
                return dataframe
            
            case 3:
                print("1. Edit task \n2. Delete task \n3. Back to menu")
                editDeleteChoice = int(input("Select the operation you wish to perform (1 or 2 or 3): "))
                match editDeleteChoice:
                    case 1:
                        editTask()
                        return menu()
                        # edit = int(input("Enter the SNo. of the task you wish to edit: "))
                        #logic
                    case 2:
                        deleteTask()
                        return menu()
                        # delete = int(input("Enter the SNo. of the task you wish to delete: "))
                        #logc
                    case 3:
                        menu()

            case 4:
                markAsDone()
                return menu()
                # done = int(input("Enter the S No. of the task you wish to mark as done: "))
                #logic

            case 5:
                break

            case _:
                print("Invalid operation selected, please select an operation between (1 or 2 or 3 or 4 or 5).")

menu()

MENU
1. Add new task
2. View tasks
3. Edit/Delete task
4. Mark a task done
5. Exit

MENU
1. Add new task
2. View tasks
3. Edit/Delete task
4. Mark a task done
5. Exit

In [3]:
import pandas as pd
import datetime

In [3]:
index = []
task = []
status = []
createdAt = []
completedAt = []

for i in range(1, len(task)+1):
    print(str(i))

a = {"No": index, "Task": task, "Status": status, "Created At": createdAt, "Completed At": completedAt}

df = pd.DataFrame(a)
dataframe = df.style.hide_index()

AttributeError: 'Styler' object has no attribute 'hide_index'

In [10]:
def addTask():
    addTaskInput = input("Enter the task you wish to add to your todo list: ")
    task.append(addTaskInput)
    createdAt.append(str(datetime.datetime.now()))
    status.append("Pending")
    return "Task added successfully!\n", dataframe

def editTask():
    edit = input("Enter the No. of the task you wish to edit: ")
    newTask = input("Enter new task: ")
    df.loc[(df.No == edit), ['Task']] = newTask 
    return

def deleteTask():
    delete = input("Enter the task No. you wish to mark as done: ")
    df.drop([[delete]], axis=0)
    return

def markAsDone():
    done = input("Enter the task No. you wish to mark as done: ")
    df.loc[(df.No == done), ['Status']] = "Done"
    return

In [1]:
def menu():
    while True:
        print("MENU\n1. Add new task \n2. View tasks \n3. Edit/Delete task \n4. Mark a task done \n5. Exit \n")
        choice = int(input("Select the operation you wish to perform (1 or 2 or 3 or 4 or 5): "))

        match choice:
            case 1:
                #addTask()
                addTask()

            case 2:
                return dataframe
            
            case 3:
                print("1. Edit task \n2. Delete task \n3. Back to menu")
                editDeleteChoice = int(input("Select the operation you wish to perform (1 or 2 or 3): "))
                match editDeleteChoice:
                    case 1:
                        editTask()
                        return menu()
                        # edit = int(input("Enter the SNo. of the task you wish to edit: "))
                        #logic
                    case 2:
                        deleteTask()
                        return menu()
                        # delete = int(input("Enter the SNo. of the task you wish to delete: "))
                        #logc
                    case 3:
                        menu()

            case 4:
                markAsDone()
                return menu()
                # done = int(input("Enter the S No. of the task you wish to mark as done: "))
                #logic

            case 5:
                break

            case _:
                print("Invalid operation selected, please select an operation between (1 or 2 or 3 or 4 or 5).")

menu()

MENU
1. Add new task
2. View tasks
3. Edit/Delete task
4. Mark a task done
5. Exit

NameError: name 'dataframe' is not defined

In [45]:
len(task)

1

In [51]:
for j in status:
    if i == 1:
        print("okay 1")
    else:
        print("okay 2")

okay 1

In [122]:
xyz = "2"
df.loc[(df.No == xyz), ['Status']] = "False"

In [123]:
df

  No           Task Status  Created At  Completed At
0  1  complete code  False           5            11
1  2            gym  False           4            22
2  3           call   done           3            33
3  4              a   done           2            44
4  5              d   done           1            55

In [121]:
dataframe

AttributeError: 'Styler' object has no attribute 'loc'